<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
</head>
<body>

<div class="login-bg subject-color layui-row"></div>
<div class="login-box">
    <div class="login-title layui-row">
        <h2>注册</h2>
    </div>
    <div class="hr-line-div"></div>
    <div class="login-form">
        <form action="/index/register/register_add" method="post">
            <table>
                <tr>
                    <p>用户名:</p>
                    <input type="text" placeholder="请输入你的用户名" name="name" class="layui-input" id="name">
                </tr>
                <tr>
                    <p>密码:</p>
                    <input type="text" placeholder="请输入你的密码" name="password" class="layui-input" id="password1">
                </tr>
                <tr>
                    <p>确认密码:</p>
                    <input type="text" placeholder="请再次输入你的密码"  class="layui-input" id="password2">
                </tr>
                <tr>
                    <p>手机号:</p>
                    <input type="text" placeholder="请输入你的手机号" name="phone" class="layui-input" id="phone">
                </tr>
                <tr>
                    <p>邮箱</p>
                    <input type="text" placeholder="请输入你的邮箱" name="email" class="layui-input" id="email">
                </tr>
                <tr>
                    <p>&nbsp</p>
                </tr>
                <tr>
                    <input type="submit" class="layui-btn layui-btn-fluid" value="注册">
                </tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>
<script type="text/javascript" src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
<script type="text/javascript">
    $(function(){
        var  ok1=false;
        var ok2=false;
        var  ok3=false;
        var ok4=false;
        var  ok5=false;
        var ok6=false;
        $("#name").blur(function(){
            var name = $(this).val();
            if(name=='') { //如果没有匹配到，那么就错误
                $("#name").parent().find('span').remove();
                $("#name").after('<span style="color: red">用户名不能为空</span>');
                ok1=false;
            }else {
                $.ajax({
                    url:'register_check',
                    data:{name:name},
                    dataType:'json',
                    type:'post',
                    success:function(res){
                        if(res.status==1){
                            $('#name').parent().find('span').remove();
                            $('#name').after('<span style="color: red">用户名已经存在</span>');
                            ok1=false;
                        }else if(res.status==2){
                            $('#name').parent().find('span').remove();
                            $('#name').after('<span style="color: green">√</span>');
                            ok1=true;
                        }
                    }
                })
            }
        })


        $('#password1').blur(function(){
            var password1 = $(this).val();
            if(!/^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,}$/.test(password1)) { //如果没有匹配到，那么就错误
                $('#password1').parent().find('span').remove();
                $('#password1').after('<span style="color: red">密码必须字母,数字或标点任意两种结合6-15位</span>');
                ok2=false;
            }else {
                $('#password1').parent().find('span').remove();
                $('#password1').after('<span style="color: green">√</span>');
                ok2=true;
            }
        })


        $('#password2').blur(function(){
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            if (password1!=password2 || password2==""){
                $('#password2').parent().find('span').remove();
                $('#password2').after('<span style="color: red">两次密码输入不正确</span>');
                ok6=false;

            }else{
                $('#password2').parent().find('span').remove();
                $('#password2').after('<span style="color: green">√</span>');
                ok6=true;
            }
        });

        // $('.nickname').blur(function(){
        //     var nickname = $(this).val();
        //     if(!/^[\u4E00-\u9FA5]{1,6}$/.test(nickname)) { //如果没有匹配到，那么就错误
        //         $('.nickname').parent().find('span').remove();
        //         $('.nickname').after('<span style="color: red">昵称不正确</span>');
        //         return false;
        //     }else {
        //         $.ajax({
        //             url:'{:url("Register/Register_Check")}',
        //             data:{nickname:nickname},
        //             dataType:'json',
        //             type:'post',
        //             success:function(res){
        //                 if(res.status==1){
        //                     $('.nickname').parent().find('span').remove();
        //                     $('.nickname').after('<span style="color: red">昵称已经存在</span>');
        //                     ok3=false;
        //                 }else if(res.status==2){
        //                     $('.nickname').parent().find('span').remove();
        //                     $('.nickname').after('<span style="color: green">√</span>');
        //                     ok3=true;
        //                 }
        //             }
        //         })
        //     }
        // })

        $('#phone').blur(function(){
            var phone = $(this).val();
            if(!/^1[34578]\d{9}$/.test(phone)) { //如果没有匹配到，那么就错误
                $('#phone').parent().find('span').remove();
                $('#phone').after('<span style="color: red">手机号不正确</span>');
                ok4=false;
            }else {
                $.ajax({
                    url:'register_check',
                    data:{phone:phone},
                    dataType:'json',
                    type:'post',
                    success:function(res){
                        if(res.status==1){
                            $('.user_phone').parent().find('span').remove();
                            $('.user_phone').after('<span style="color: red">手机号已经存在</span>');
                            ok4=false;
                        }else if(res.status==2){
                            $('.user_phone').parent().find('span').remove();
                            $('.user_phone').after('<span style="color: green">√</span>');
                            ok4=true;
                        }
                    }
                })
            }
        })

        $('#email').blur(function(){
            var email = $(this).val();
            if(!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(email)) { //如果没有匹配到，那么就错误
                $('#email').parent().find('span').remove();
                $('#email').after('<span style="color: red">邮箱不正确</span>');
                ok5 =false;
            }else {
                $.ajax({
                    url:'register_check',
                    data:{email:email},
                    dataType:'json',
                    type:'post',
                    success:function(res){
                        if(res.status==1){
                            $('#email').parent().find('span').remove();
                            $('#email').after('<span style="color: red">邮箱已经存在</span>');
                            ok5=false;
                        }else if(res.status==2){
                            $('#email').parent().find('span').remove();
                            $('#email').after('<span style="color: green">√</span>');
                            ok5=true;
                        }
                    }
                })
            }
        });
        $('.send').click(function(){
            if (ok1&& ok2 &&ok3  && ok4 && ok5 && ok6){
                $('form').submit();
            }else{
                return false;

            }
        })
    })


</script>